DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Channel I OAuth Credentials
authoriseURL=https://channeli.in/oauth/authorise/
client_id=YOUR_CLIENT_ID
redirectURL=http://127.0.0.1:8081/oauth/token/
token_URL=https://channeli.in/open_auth/token/
client_secret_id=YOUR_CLIENT_SECRET
get_user_data_url=https://channeli.in/open_auth/get_user_data/

JWT_SECRET=your_jwt_secret_key
